@charset "UTF-8";
body {
  background-image: url("../images/1538716.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.title {
  font-size: 8em;
  text-align: center;
}

.level_button {
  writing-mode: vertical-rl;
  color: #000;
  text-decoration: none;
  font-size: 2em;
  width: 3em;
  height: 8em;
  background-color: white;
}

.writing_button {
  padding: 0;
  position: absolute;
  left: 300px;
  top: 300px;
  width: 10em;
  height: 10em;
  font-size: 2em;
  background-color: skyblue;
  color: white;
}

.reading_button {
  padding: 0;
  position: absolute;
  right: 300px;
  top: 300px;
  width: 10em;
  height: 10em;
  font-size: 2em;
  background-color: pink;
  color: white;
}

.score_button {
  padding: 0;
  position: absolute;
  right: 300px;
  top: 650px;
  width: 24em;
  height: 2em;
  font-size: 2em;
  background-color: lightgreen;
  color: white;
  text-align: center;
}

.signin_button {
    padding: 0;
    position: absolute;
    right: 100px;
    top: 150px;
    font-size: 1.2em;
    width: 5em;
    height: 3em;
    background-color: blue;
    color: white;
    
}

.signup_button {
    padding: 0;
    position: absolute;
    right: 250px;
    top: 150px;
    font-size: 1.2em;
    width: 5em;
    height: 3em;
    background-color: skyblue;
    color: white;
    
}

.how_button {
    padding: 0;
    position: absolute;
    left: 150px;
    top: 150px;
    font-size: 1.2em;
    width: 5em;
    height: 3em;
    background-color: red;
    color: white;
}
   
 
.subtitle {
  font-size: 5em;
  text-align: center;
}

.box{
    text-align: center;
    font-size: 3em;
    display: inline-block;
    width: 60%;
    padding: 4%;
    border: 1px solid #999;
    box-sizing: border-box;
    margin: 0.5em 0;
}

.problem{
  font-size: 40px;
}

.watch{
  font-size: 40px;
}

.score{
  font-size: 40px;
}

.result{
  font-size: 40px;
}
div {
  text-align: center;
}