@charset "UTF-8";
body {
  background-image: url("../images/1538716.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.title {
  font-size: 8em;
  text-align: center;
}

.reading_play_button {
  padding: 0;
  position: absolute;
  left: 300px;
  top: 300px;
  width: 10em;
  height: 10em;
  font-size: 2em;
  background-color: skyblue;
  color: white;
}

.reading_ranking_button {
  padding: 0;
  position: absolute;
  right: 300px;
  top: 300px;
  width: 10em;
  height: 10em;
  font-size: 2em;
  background-color: pink;
  color: white;
}