@charset "UTF-8";
body {
  background-image: url("../images/1538716.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.title {
  font-size: 4em;
  text-align: center;
}
